@font-face {
  font-family: "Arial-MT";
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  font-size: 21px;
  color: #fff;
  text-align: center;
  /* background: url("../assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5); */
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}
.name-music {
  padding-top: 9px;
  color: black;
}
.time-music {
  display: flex;
  position: absolute;
  left: 12px;
  top: 19px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}
.controls {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}
.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #c5b358;
}

.player-icon,
.slider-icon,
.change-quote,
.settings {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.settings {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.settings {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: "Arial-MT";
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.audio-player {
  position: relative;
  height: 50px;
  justify-content: space-evenly;
  display: flex;
  border-radius: 12px;
  align-items: center;
  width: 387px;
  background: rgb(185, 172, 172);
  opacity: 75%;
  box-shadow: 0 0 20px 0 #000a;
  margin-bottom: 25px;
}
.timeline {
  background: white;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.progress {
  background: coral;
  width: 0%;
  height: 10px;
  transition: 0.25s;
}
.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}
.volume-container {
  position: absolute;
  top: 14px;
  left: 278px;
  cursor: pointer;
}
.volume-button {
  background-image: url(./../assets/svg/volume.svg);
  background-size: cover;
  width: 37px;
  height: 31px;
  filter: invert(62%) sepia(0%) saturate(465%) hue-rotate(157deg)
    brightness(99%) contrast(86%);
  transition: 0.3s;
}

.background-mute {
  background-image: url(./../assets/svg/mute.svg);
}
.volume-slider {
  position: absolute;
  left: 42px;
  top: 11px;
  /* z-index: -1; */
  width: 57px;
  height: 10px;
  background: white;
  transition: 0.25s;
}
.volume-percentage {
  cursor: pointer;
  background: coral;
  height: 100%;
  width: 75%;
}
.settings {
  margin-top: 15px;
  background-image: url(../assets/svg/gear.png);
  filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(70deg) brightness(108%)
    contrast(108%);
}
.none {
  display: none;
}
.language-selector {
  padding-top: 20px;
}
.settings-menu {
  flex-direction: column;
  width: 600px;
  height: 500px;
  background-color: black;
  opacity: 0.8;
  position: absolute;
  left: 10px;
  bottom: 77px;
  border-radius: 10px;
}
select {
  width: 102px;
  height: 30px;
}
.padding {
  padding-top: 20px;
}
@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
