ul {
  padding: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Forum;
  src: url("./assets/fonts/Forum-Regular.ttf");
  font-weight: 400;
}

div,
section {
  margin: 0;
}

.flex-container {
  display: flex;
}

.logo-pic span {
  background-image: url("assets/svg/logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 34px;
  margin-right: 21px;
}

.logo-pic {
  color: white;
  align-items: center;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  font-family: "Forum";
  font-weight: 400;
}

.chicha {
  justify-content: space-between;
  height: 150px;
  align-items: center;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

.relative {
  position: relative;
}

.slider-container {
  position: absolute;
  right: 0;
}

.heading-text-container {
  position: relative;
  z-index: 1;
  margin-bottom: 272px;
}

.mt-75 {
  margin-top: 75px;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.cards {
  gap: 80px 60px;
  max-width: 1440px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 60px;
  margin-bottom: 75px;
}
.card-text {
  margin-top: 20px;
  margin-bottom: 22px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.img-card {
  width: 440px;
  height: 285px;
}
.card-paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
}
.small-paragraph {
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
}
.column {
  flex-direction: column;
}
.card {
  display: block;
  text-decoration: none;
  color: #000;
}
.underline-title {
  position: relative;
}
.underline-title::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #710707;
}
.p-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38.5px;
}
.text-black {
  color: #000;
}
.pb-25 {
  padding-bottom: 25px;
}

.pb-27 {
  padding-bottom: 27px;
}

.underline-card {
  position: relative;
}
.text-explore {
  max-width: 660px;
}
.explore-pic {
  margin-left: 60px;
  margin-top: 15px;
}
.underline-card::after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 69%;
  height: 1px;
  background-color: #710707;
  transition: all 0.5s ease-in;
}

.card:hover .underline-card::after {
  width: 100%;
}

.heading-text {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  /* identical to box height, or 112% */

  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.mb-103 {
  margin-bottom: 103px;
}
.text-white {
  color: #ffffff;
}
.text-gold {
  color: #9d8665;
}

p {
  margin: 0;
}

.heading-text-container p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */

  letter-spacing: 2px;
  margin-top: 26px;
  color: #ffffff;
}

.heading-text-container button {
  background: #710707;
  border-radius: 10px;
  width: 360px;
  height: 75px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  display: flex;
  letter-spacing: 2px;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 76px;
}

nav li a {
  font-size: 22px;
  text-decoration: none;
  font-family: Roboto;
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
}
.li-header {
  margin-left: 55px;
}
.text-upper {
  text-transform: uppercase;
}

.heading-text-container {
  margin-top: 150px;
}

.container {
  margin: 0 auto;
  width: 1440px;
}
.section {
  padding-top: 75px;
  padding-bottom: 75px;
}
.dark-section {
  background-color: #030303;
}

.block {
  display: inline-block;
  max-width: 720px;
}
.pt-110 {
  padding-right: 110px;
}

.align-c {
  align-items: center;
}

.player-container {
  position: relative;
  margin-top: 75px;
  margin-bottom: 40px;
  height: 735px;
}

.player-container video {
  height: 650px;
  width: 100%;
}

.controls {
  display: flex;
  justify-content: space-around;
  height: 85px;
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: 1;
  background: black;
  display: flex;
  align-items: center;
}

.progress {
  background: linear-gradient(
    to right,
    #710707 0%,
    #710707 40%,
    #c4c4c4 40%,
    #c4c4c4 100%
  );
  transition: background 450ms ease-in;
  height: 8px;
  width: 929px;
  outline: none;

  -webkit-appearance: none;
}

.progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #fff;
}

.volume-progress {
  background: linear-gradient(
    to right,
    #710707 0%,
    #710707 40%,
    #c4c4c4 40%,
    #c4c4c4 100%
  );
  transition: background 450ms ease-in;
  height: 8px;
  width: 155px;
  outline: none;

  -webkit-appearance: none;
}

.volume-progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #fff;
}
.video-cards {
  width: 100%;
  height: 254px;
  margin-bottom: 127px;
}

.gallery {
  height: 2051px;
}

.big-play {
  background-image: url("./assets/img/Controls/big_play.svg");
  width: 220px;
  height: 220px;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.video-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-play {
  background-image: url("./assets/img/Controls/small_play.svg");
  width: 23px;
  height: 30px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.volume {
  background-image: url("./assets/img/Controls/volume.svg");
  width: 38px;
  height: 31px;
}

.fullscreen {
  background-image: url("./assets/img/Controls/fullscreen_on.svg");
  width: 36px;
  height: 36px;
}

.video-slider {
  display: flex;
  justify-content: space-between;
}

iframe {
  border: 0px;
}

.video-controls {
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 75px;
  width: 200px;
  justify-content: space-between;
}

.left-scroll {
  background-image: url("./assets/svg/video-controls/Left.svg");
  width: 10px;
  height: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.right-scroll {
  background-image: url("./assets/svg/video-controls/Right.svg");
  width: 10px;
  height: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.flex-button a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pic-and-ticket {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}
.pic-tic {
  width: 720px;
  height: 550px;
}
.tickets-buttons {
  display: flex;
}
.ticket-form {
  height: 550px;
  margin-right: 240px;
}

.ticket-text-main {
  margin-bottom: 53px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
}
.radio-container {
  display: block;
  position: relative;
  padding-left: 38px;
  margin-bottom: 25px;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 4px;
  left: -1px;
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
}

/* When the radio button is checked, add a blue background */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
}
.tickets-and-total {
  display: flex;
  flex-direction: column;
}
.ticket-amount {
  padding-bottom: 27px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  padding-left: 75px;
}
.total {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
  margin: 50px 0 60px 25px;
}
.ticket-amount__basic {
  font-family: Roboto;
  font-weight: 300;
  font-size: 22px;
  line-height: 25px;
  padding-bottom: 12px;
  margin: 0 0 0 25px;
}
.ticket-amount__number {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  align-items: center;
  height: 45px;
  padding: 0 10px;
  border: 3px solid black;
}

.ticket-amount__senior {
  font-family: Roboto;
  font-weight: 300;
  font-size: 22px;
  line-height: 25px;
  padding-top: 10px;
  padding-bottom: 15px;
  margin: 0 0 0 25px;
}
.ticket-amount__input {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  border: none;
  text-align: center;
}
.buy-now {
  width: 175px;
  height: 50px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  border-radius: 2px;
  background: black;
  color: white;
  border: none;
}
.parallax {
  width: 100%;
  height: 400px;
  background-image: url("./assets/img/parallax.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.contacts-container {
  justify-content: space-between;
}
.contacts-list {
}
.map-pic {
  width: 960px;
  height: 620px;
}

.name-museum {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 32, 81px;
  padding-bottom: 50px;
}

.address-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 25px;
}

.mb-70 {
  margin-bottom: 70px;
}

.footer {
}
.logo-foot {
  align-self: flex-start;
  padding-top: 75px;
}
.footer-1 {
  position: relative;
  justify-content: space-between;
}
.footer-1::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #666666;
}
.footer-2 {
  justify-content: space-between;
  padding-top: 74px;
  padding-bottom: 52px;
}
.footer-nav {
  display: block;
  padding-top: 58px;
  padding-right: 234px;
}
.footer-nav ul {
  columns: 2;
}
.footer nav li a {
  padding: 0 70px;
  line-height: 52px;
}
.socials {
  align-items: flex-end;
  min-width: 340px;
  padding-bottom: 17px;
}
.social-icon {
  height: 48px;
  width: 48px;
  padding-left: 26px;
  transition: 0.4s;
}

.footer-2-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  color: white;
}
